{% extends "university-lists.html" %}


{% block search_field %}
<!-- Search -->
<form class="search" action="{% url 'universities' %}">
  <input type="text" name="search" class="searchTerm" value="{{ search_query }}"
    placeholder="Search by name or location">
  <button type="submit" class="searchButton">
    <i class='bx bx-search'></i>
  </button>
</form>
{% endblock search_field %}


{% block script %}
<script>

  const linkColor=document.querySelector("#universities");
  linkColor.classList.add("active");
</script>
{% endblock script %}