.acc {
    margin: 20px 20px 0 0;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1em;
    font-weight: 600;
    font-family: var(--body-font);
}

/* Add a background color to the button if it is clicked on (add the .active-acc class with JS), and when you move the mouse over it (hover) */

.active-acc, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}