.search {
  width: 290px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
}

.searchTerm {
  width: 100%;
  border: 1.8px solid #dadce1;
  border-right: none;
  padding: 8px;
  height: 2em;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: #666;
}

.searchButton {
  width: 40px;
  height: 2em;
  border: 1.8px solid #dadce1;
  text-align: center;
  color: var(--first-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
}

.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  font-size: 1.1em;
}

.universities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.university-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem;
  border-radius: 0.6em;
  border: 1.9px solid #dadce1;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.university-card__content {
  line-height: 1.4rem;
  color: #222;
}

.university-card__header {
  text-align: center;
  padding: 0.2em;
}

.university-card__headline {
  font-size: 1.2rem;
  padding-bottom: 0.4em;
}

.university-card__body {
  margin-top: 0.5em;
}

.university-card__stats {
  font-weight: 700;
}

.university-card__action {
  padding-top: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.university-card__btn {
  border: 0;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  outline: none;
}

.university-card__bookmark {
  color: var(--first-color);
  font-size: 2rem;
  cursor: pointer;
}

.university-card:hover {
  -webkit-box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
}

.university-card__content p {
  font-weight: 600;
}

@media screen and (min-width: 730px) {
  .universities {
    -ms-grid-columns: (minmax(207px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(207px, 1fr));
  }
}

@media screen and (min-width: 925px) and (max-width: 959px) {
  .universities {
    -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

/* Pagination */
.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.pagination a {
  text-decoration: none;
}

.pagination-number {
  margin: 0 0.3em;
  padding: 0.8em 0.8em;
  border-radius: 0.4rem;
  color: var(--first-color);
  font-weight: 500;
}

.pagination-current {
  font-weight: 600;
}

.pagination-number:hover,
.pagination-current {
  color: var(--white-color);
  background-color: var(--first-color);
}

.pagination-action {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em;
  color: var(--first-color);
  font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
  color: var(--first-color);
}
/*# sourceMappingURL=universities.css.map */