:root {
    /*===== Colors =====*/
    --first-color: #1a237e;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

.top, .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 50px;
    align-items: center;
    max-width: 85%;
}

/* Table Styles */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

thead tr {
    background-color: var(--first-color);
    color: #ffffff;
    font-weight: 800;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: thin solid #dddddd;
    font-weight: 600;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--first-color);
}

tbody tr:hover {
    color: var(--first-color);
}

.subjects {
    margin: 2em 0;
    background: #fafafa;
}

.subject-list {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border: thin solid #ececec;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 655px) {
    .top, .bottom {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .styled-table {
        min-width: 200px;
    }
    subject-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}
