:root {
    /*===== Colors =====*/
    --first-color: #1a237e;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}

.uni-header h1, .bookmark, .uni-loc h3 {
    color: #293042;
}

.top, .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 50px;
    align-items: center;
    max-width: 85%;
}

/* Table Styles */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

thead tr {
    background-color: var(--first-color);
    color: #ffffff;
    font-weight: 800;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: thin solid #dddddd;
    font-weight: 600;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--first-color);
}

tbody tr:hover {
    color: var(--first-color);
}

.subjects {
    margin: 2em 0;
    padding: 1em 0;
    background: #fafafa;
}

.subject-list {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border: thin solid #ececec;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    line-height: 1.6em;
    font-weight: 600;
}

.predict-chance button {
    width: auto;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0.8em 1.4em;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--first-color);
    background: transparent;
    border: 2px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.predict-chance button:hover {
    color: #fff;
    background: var(--first-color);
    transition: ease-in 0.22s;
}

.prev-next {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.prev-next__btn {
    color: #fff;
    border: 0;
    background-color: var(--first-color);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    outline: none;
}

.prev-next__btn a {
    color: #fff;
}

@media only screen and (max-width: 655px) {
    .uni-header h1, .bookmark {
        font-size: 1.6rem;
    }
    .top, .bottom {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .styled-table {
        min-width: 200px;
    }
    .subject-list {
        display: grid;
        grid-template-columns: 1fr;
    }
    .prev-next {
        flex-direction: column;
    }
    .prev-next__btn {
        margin: 10px;
    }
}