{% extends "base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/college_comparison/college_comparison.css' %}">
{% endblock extracss %}

{% block content %}
<h3 class="title">Add upto 3 Universities for Comparison</h3>

<!-- Search -->
<div class="search">
    <input type="text" name="search" class="searchTerm" id="university-search" placeholder="Search for Universities..">
</div>

<!-- Comparison Table -->
<div class='table-responsive'>
    <table class="table">

        <tr>
            <th>CRITERIA</th>
            <th class="uni"> <a href="#">UNIVERSITY 1</a>&nbsp<span title="discard" class="discardbtn">&times;</span>
            </th>
            <th class="uni"> <a href="#">UNIVERSITY 2</a>&nbsp<span title="discard" class="discardbtn">&times;</span>
            </th>
            <th class="uni"> <a href="#">UNIVERSITY 3</a>&nbsp<span title="discard" class="discardbtn">&times;</span>
            </th>
        </tr>
        <tr>
            <td>Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Location</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>No. of Students</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>International Students</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Students per staff</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Female to Male Ratio</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Teaching Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Research Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Citation Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Industry Income Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>International Outlook Rank</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        <tr>
            <td>Overall Score</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>

    </table>

</div>


{% endblock content %}

{% block script %}

<!-- JQuery Autocomplete Start -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    const uniNames={{ uni_names|safe|escape }};
    $(function() {

        $("#university-search").autocomplete({
            source: function(request, response) {
                var results=$.ui.autocomplete.filter(uniNames, request.term);
                response(results.slice(0, 10));
                // console.log(results)
            }
        });
    });
    // JQuery Autocomplete End

    // Getting Search Value
    var unisForCompare=[]
    var searchValue=document.getElementById('university-search');
    searchValue.addEventListener("keydown", function(e) {
        if (e.key==="Enter") {
            var uniQuery=searchValue.value;
            if (uniNames.includes(uniQuery)) {
                if (unisForCompare.length<3&&(!unisForCompare.includes(uniQuery))) {
                    unisForCompare.push(uniQuery);
                    console.log(unisForCompare);
                }
            }
        }
    });

    // Getting Search Value End
</script>


<script>
    const linkColor=document.querySelector("#college-comparison");
    linkColor.classList.add("active");
</script>
{% endblock script %}